

a,h1,h2,h3,p,span,body{

font-family: 'Raleway', sans-serif;
}

/* HEADER SECTION  */
#home nav a{
  color: rgb(161, 161, 161);
font-weight: 500;
font-size: 15px;


}
#home nav a::after{
  content: "";
height: 2px;
width: 0px;
display: block;
background: rgb(3, 195, 163);
transition: .5s;

}#home nav .actv::after{
  width: 25px;
  display: block;
}
#home nav a.actv{
  color:rgb(0, 0, 0);
}

#home nav a:hover{
  color: #000;
}


#home nav a:hover::after{
  width: 25px;
}
#home {
  box-shadow: 0px 10px 43px -23px rgba(161, 161, 161, 0.808);
  -webkit-box-shadow: 0px 10px 43px -23px rgba(161, 161, 161, 0.746);
  -moz-box-shadow: 0px 10px 43px -23px rgba(161, 161, 161, 0.719);}


#home h2 a {
  font-weight: 300;
  color: rgb(0, 0, 0);
}

/* BANNER SECTION  */
#header_bg{
  background: url(pic/hero-bg.jpg) no-repeat top center ;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  font-weight: 600;
  font-size: 48px;
  padding-top: 75px;
}
h1+p{
  font-size:22px ;
  color: #6f6f6f;
  font-weight: 500;
}
#header_bg a{
  font-size: 12px;
padding: 12px 40px;
background: #34b7a7;
letter-spacing: 1px;
font-weight: 500;
border: none;
}



#header_bg a:hover{
  background: hsl(173, 56%, 50%);
}

footer, header{
  background: #e9e8e6;
}
h5{
  font-size: 14px;
  padding-top: 10px;
}h5 span{
  font-weight: 600;
}

h6{
  font-size: 13px;
}h6 span{
 color: #34b7a7;
}
h5,h6{
  color: #212529;
}
 

/* SERVIVCES SECTION  */

h2.heading{font-weight: 700;
color: rgb(59, 59, 59);

}
h2.heading::after{
content: "";
height: 2.5px;
width: 50px;
display: block;
background: rgb(3, 195, 163);
margin:15px auto;

}

.services_text h3 {
font-size: 23px;
font-weight: 500;


}
.services_text{
  background: #fff;
}
.services_text p {
font-size: 14px;
padding: 30px 20px;
width: 90%;
margin: auto;
}

.services_text.shadow-ser{
  box-shadow: 0px 0px 23px -12px rgba(161, 161, 161, 0.808);
}


/* CONTACT SECTION  */
#contact iframe{
  height:44vh;
  width:100% ;
}
#contact textarea{
  height:23vh;
 
}#contact h3{
font-size: 20px;
font-weight: 600;
}
#contact h3::before{
  content: "\f3c5";
  background: #ddd;
  font-weight: 200;
  font-family: fontawesome;
}












